<h1>Editing bracket</h1>

<% form_for(@bracket) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @bracket %> |
<%= link_to 'Back', brackets_path %>